@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

body {
  padding: 0px;
	margin: 0px;
	background-color: #000000;
}

.container {
  /* width: 100%; */
	margin: 20px 30px 20px 30px;
}

.cover {
  background-color: #080086;
	border-style: solid;
	border-width: thick;
	border-color: #00ffff;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: #ffffff;
	text-align: center;
  text-transform: uppercase;
}

h2 {
	font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
	font-family: 'Source Code Pro', monospace;
	background-color: #008281;
	color: #000000;
	text-transform: uppercase;
	font-size: 20px;
	padding-left: 10px;
}

p, ul {
	font-family: 'Source Code Pro', monospace;
	color: #ffffff;
	margin-left: 5px
}
