@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

html {
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Marmelad', sans-serif;
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/office-building_1f3e2.png");
    background-repeat: repeat;
    background-color: #252650;
}

@media (max-width:800px){
    .content {
        text-align: center;
        margin: 5% 10% 5% 10%;
        padding: 2em;
        border-style: solid;
        border-width: 5px;
        border-color:#009ecf;
        background-color: #474768;
    }

    .form {
        background-color: #474768;
        font-size: 20px;
        margin: auto;
        padding-bottom: 30px;
        padding-top: 20px;
        color: white;
    }    

}

@media (min-width:800px){
    .content {
        text-align: center;
        margin: 10% 20% 5% 20%;
        padding: 2em;
        border-style: solid;
        border-width: 5px;
        border-color:#009ecf;
        background-color: #474768;
    }
    .form {
        background-color: #474768;
        font-size: 20px;
        margin: auto;
        padding-bottom: 30px;
        padding-top: 20px;
        color: white;
    }    
}

.formItem {   
    padding: 15px;
    margin: auto;
}

@media (max-width:800px){
    h1 {
        background-color: #a9abb9;
        margin: auto;
        padding: 10px;
        color: #252650;
    }    
}

@media (min-width:800px){
    h1 {
        background-color: #a9abb9;
        margin: auto;
        padding: 10px;
        color: #252650;
    }    
}


input[type=number]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.button {
    background-color: #009ecf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.button-cancel {
    background-color: #01668e;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

@media (min-width:800px){
    .result-text {
        font-size: 50px;
        margin: auto;
        padding: 5% 5% 5% 5%;
        /* margin: auto; */
        /* padding-top: 60px;
        padding-bottom: 60px; */
    }    
}

@media (max-width:800px){
    .result-text {
        font-size: 40px;
        margin: auto;
        /* padding-top: 40px;
        padding-bottom: 40px; */
    }    
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10% 5% 0% 5%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    font-size: 14px;
  }

table {
      background-color: #979797;
      margin: auto;
      padding: 8px;
}

td {
    color: black;
    background-color:#bcc1c0;
    padding: 3px;
}