html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Open Sans', serif;
}

#content {
  background-color: #e3f2fd;
  flex: 1;
  padding: 20px;
}

#footer {
  background-color: #f3e5f5;
  padding: 20px;
}

h1 {
  font-size: 40px;
  color: rgb(25, 25, 112);
}

p {
  font-size: 20px;
}

a:visited {
  color: rgb(238, 212, 144);
}

.banner {
  padding: 5px;
  margin: 20px;
}

.lead {
  margin: 10px;
}

.links {
  margin: 20px;
}
