html {
  height: 100%;
}

body {
  background-image: url(assets/bckg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

.content {
  background-color: rgba(227, 242, 253, 0.7);
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

.footer {
  background-color: rgba(227, 242, 253, 0.9);
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

h1 {
  color: rgb(25, 25, 112);
  font-size: 40px;
}

p {
  font-size: 14pt;
}

.banner {
  margin: 20px;
  padding: 5px;
}

.lead {
  font-size: 16pt;
  margin: 10px;
}

.links {
  margin: 20px;
}
